* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

.top_menu {

    background-color: lightgreen;

    display: block;

    position: sticky;

    top: 0;

    height: 5vh;

    z-index: 100;
    /* optional, to make sure the menu appears on top of the other content.*/

}





.container {

    background-color: blue;

    width: 100vw;

    height: 95vh;

}

.side_menu {

    background-color: aqua;

    width: 10vw;

    float: left;

    height: 100vh;

    min-width: 200px;

}
.content {

    background-color: lightgray;

    width: 100vw;

    height: 100vh;

    text-align: center;

}

#content_frame {

    margin-top: 50px;

    width: 70vw;

    height: 80vh;

    justify-content: center;

    align-items: center;

    margin-left: auto;

    margin-right: auto;

    border: none;
    /* Remove the iframe border */

}


.side_menu>ul {

    margin-top: 10px;

    margin-left: 20px;

}



/*

.side_menu > ul > li  {

    list-style: none;

    margin-top: 12px;

}

*/

/* OR this way */

.side_menu li {

    list-style: none;

    margin-top: 12px;

}





.side_menu i {

    float: right;

    margin-top: 10px;

    margin-bottom: 10px;

    margin-right: 10px;

}



.side_menu span {



    margin-right: 20px;



}



.side_menu i:hover {

    cursor: pointer;

}







.top_menu i {

    margin-top: 10px;

    margin-left: 10px;

}



.top_menu i:hover {

    cursor: pointer;

}

.container-fluid{
    margin-top: 5%;
    align-items: center;
    justify-content: center;
    width: 50vw;
}

/*

.side_menu > ul > li > a > i  {

    margin-right: 10px;

}



*/



/* Media query for smartphone-sized screens */

@media (max-width: 768px) {

    .side_menu {

        display: none;
        /* Hide the side menu */

    }



    .content {

        width: 100%;
        /* Make the content take up the full width */

    }

}