*{
    padding: 0;
    margin: 0;
}

.container{   
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh; 
    border: 1px solid black;
}
.header{
    height: 10vh;
    background-color: blue;
}
.torso{
    height: 80vh;
    background-color: green;
    display: flex;
    flex-direction: row;
}
.content{
    background-color: green;
    width: 85vw;
}
.sidebar{
    background-color: yellow;
    align-items: start;
    width: 15vw;
}
.sidebar ul li{
    list-style: none;
    margin-top: 13px;
}
.sidebar ul li i{
    margin-right: 5px;
}

.footer{
    background-color: rgb(214, 22, 22);
    height: 10vh;
}
